.blink {
  animation: blink 0.5s normal;
  background: transparent;
}

@keyframes blink {
  50% {
    background: green;
  }
}

button {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 0;
  border-radius: 10px;
}

.number {
  font-size: 4vh;
}
