.container {
  background-color: aliceblue;
  width: 300px;
  margin: auto;
  text-align: center;
}


.blink {
  animation: blink 0.5s normal;
  background: transparent;
}

@keyframes blink {
  50% {
    background-color: cadetblue;
  }
}

button {
  margin: 10px;
  border: 0;
  border-radius: 10px;
}

button.square {
  width: 100px;
  height: 100px;
  font-size: 4vh;
}
